#popupcontainer {
	width: 		590px;
	text-align: left;
}

.map-popup {
}

.list-group-item {
	max-height: 40px;
}

#popupcontainer2 {
	width: 		590px;
	max-height: 500px;
	overflow-y: scroll;
	text-align: left;
	font-size: 	14px;
	padding: 	15px;
}

#popupcontainer_comparison {
	width: 		400px;
	text-align: left;
}

.map-popup {
}

.list-group-item {
	max-height: 40px;
}

#popupcontainer_comparison2 {
	width: 		400px;
	max-height: 350px;
	overflow-y: scroll;
	text-align: left;
	font-size: 	12px;
	padding: 	16px;
}
