<div class="col-sm-12 col-md-8 text-center" ng-show="vm.person">
  <div class="col-sm-12" ng-show="!vm.person && !vm.error">
      <img class="loading-img" src="images/loading-lg.gif"></img>
    </div>
	 <h1>{{ vm.person.givenName }} {{ vm.person.familyName }}</h1>
      <div class="thumbnail">
        <div class="person-profile-img">
          <div class="row">
            <div class="col-sm-12 text-center">
              <img ng-repeat="img in vm.person.images" class="person-img img img-responsive" ng-src="{{ img }}" />
            </div>
          </div>
        </div>
        <div class="caption">
          <div class="visible-caption">
            <div class="row">
              <div class="col-xs-12">
                <p ng-if="(vm.person.birthPlace || vm.person.birthDate || vm.person.deathDate)">
                <span ng-if="(vm.person.birthPlace || vm.person.birthDate)"><span class="birth icon-born"></span>&nbsp;{{ vm.person.birthPlace }} {{ vm.person.birthDate }}</span>
                <br>
                <span ng-if="(vm.person.deathPlace || vm.person.deathDate)"><span class="birth icon-death"></span>&nbsp;{{ vm.person.deathPlace }}</span>
                <span ng-if=vm.person.deathDate>{{ vm.person.deathDate }}</span>
                </p>
              </div>
              <div ng-if="vm.person.occupation" class="col-xs-12">
                <p>{{ vm.person.occupation | castArray | join:', ' }}</p>
              </div>
              <div class="col-xs-12 icon-menu">
                <a title="Data" class="" ng-href="{{ vm.person.id }}"><span class="bio icon-data" aria-hidden="true"></span></a>
              </div>
            </div>
            <div class="row">
              <div ng-if="vm.person.wikipedia" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.wikipedia }}">Wikipedia</a>
              </div><div ng-if="vm.person.wikidata" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.wikidata }}">Wikidata</a>
              </div>
              <div ng-if="vm.person.dbpedia" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.dbpedia }}">DBpedia</a>
              </div>
              <div ng-if="vm.person.twitter" class="col-xs-6 col-xs-offset-3">
                <a ng-href="{{ vm.person.twitter }}">Twitter</a>
              </div>
            </div>
             </div>
             <div ng-if="vm.person.committee" class="row padded-row">
              <div class="col-xs-12"><h4>Member of committees:</h4></div>
              <p style="white-space: pre-line;">{{ vm.person.committee.label }}</p>
            </div>

              <div ng-if="vm.person.description" class="entry-text text-left">
                <hr />
                <p>{{ vm.person.description }}</p>
              </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 text-left" ng-if="vm.person.similar">
      <h3>Similar persons</h3>
      <img ng-if="!vm.person.similar" class="loading-img" src="images/loading-lg.gif"></img>
      <div class="col-sm-6" ng-repeat="person in vm.person.similar">
      	<a ui-sref="person.detail({ personId: person.prs })">{{ person.label }}</a>
      </div>
    </div>
  </div>
</div>
