<div class="modal-header">
  <div class="row">
    <div class="col-xs-10 text-left">
      <h3 class="modal-title">Kansallisbiografia</h3>
    </div>
    <div class="col-xs-2">
      <a href="#" ng-click="$close()" class="no-decoration btn-lg pull-right glyphicon glyphicon-remove"></a>
    </div>
  </div>
</div>
<div class="modal-body">
  <p>
    Matrikkelin tietoja voi selata käyttöliittymässä käyttämällä vasemmalla olevia suodattimia. Hakeaksesi rekisteristä tekstihaulla, kirjoita haku 'Haku'-kenttään. Poistaaksesi hakurajauksen, paina X-nappia hakukentän oikealla puolella. Jokaisella suodattimella on oma hakukenttä sekä lista suodattimen vaihtoehdoista, josta voi valita haluamansa ehdon. Tulosten määrä vaihtoehdolla näkyy suluissa valinnan nimen perässä. Valinnan voi poistaa valitsemalla vaihtoehdon '-- Ei valintaa --'. Jokaisesta suodattimesta voi valita vain yhden vaihtoehdon, jolloin henkilölistausta suodatetaan valintojen perusteella. Tuloslistaa voi suodattaa käyttäen eri suodattimia yhdessä.
  </p>
  <p>
    <h4>Suodattimien valinta:</h4>
    <ol>
      <li>Valitse joku suodattimista ja avaa suodatin painamalla '+'-nappia suodattimen otsikon oikealla puolella.</li>
      <li>Valitse suodattimeen arvo listalta tai hae kirjoittamalla listan yllä olevaan tekstikenttään. Jos suodatinehtoa haetaan tekstikentän avulla alla oleva lista suodattimista päivittyy kirjoittaessa.</li>
      <li>Suodatinehdon voi valita klikkaamalla sitä listalta, tai poistaa valitsemalla '-- Ei valintaa --' listan alusta. </li>
      <li>Henkilöiden lista päivittyy suodattimien oikealla puolella.</li>
      <li>Tuloksia voi nyt suodattaa tarvittaessa lisää toistamalla toisella suodattimella edelliset askeleet 1-4.</li>
  </ol>
  </p>
</div>
