<div class="modal-header">
  <div class="row">
    <div class="col-xs-10 text-left">
      <h3 class="modal-title">U.S. Congress Legislators</h3>
    </div>
    <div class="col-xs-2">
      <a href="#" ng-click="$close()" class="no-decoration btn-lg pull-right glyphicon glyphicon-remove"></a>
    </div>
  </div>
</div>
<div class="modal-body">
  <p>
    You can browse the United States Congress Legislators data by using the timline and the filters. The timeline enables you to filter data by the number fo congresses—starting from the 1st (1789) through 115th (2018). Each filter has its own search box as well as a list of options for the filter. To search the register for text search, enter the text in the 'Search' field. To add/remove the filters, press the '+'/'-' button on the right of each filter. Only one option can be selected for each filter, and the member list is filtered based on the choices (The selection can be deleted by selecting '- No selection -'). Furtheremore, this interface allows multiple selection. You can explore the data by selecting and combining different filters.
  </p>
  <hr>
  <p>
    <h4>Filter Selection:</h4>
    <ol>
      <li>Drag the timeline and select a range.</li>
      <li>Select one of the filters (open the filter by pressing the '+' button if needed).</li>
      <li>Select a value from the list in the filter, or type in the list in the text box above.<br>If you use text box, the list of filters below will be updated as you type.</li>
      <li>You can select a filter condition by clicking on the list<br>or delete by clicking on '—' button or '- No selection -' which can be found in the top of the list.</li>
      <li>The list will be updated.</li>
      <li>You can go over the previous steps 1-4, try different filters and combine them.</li>
  </ol>
  </p>
</div>
