<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li ui-sref="person.detail" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Personal Information</a>
      </li>
      <li ui-sref="person.map" ui-sref-active="active">
        <a href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Timeline</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="row">
    <div ui-view></div>
  </div>
</div>
