<ul class="nav navbar-nav">
  <li><a href="" id="show-help" ng-click="vm.showHelp()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a></li>
  <li ui-sref-active="active"><a ui-sref="cards"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Grid</a></li>
  <li ui-sref-active="active"><a ui-sref="table"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> List</a></li>
  <li ui-sref-active="active"><a ui-sref="groupmap"><span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span> Map</a></li>
  <li class="dropdown" ui-sref-active="{'active': 'visualizations.**'}">
  <a class="dropdown-toggle" data-toggle="dropdown" href="" id="statistics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Statistics<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ui-sref-active="active"><a ui-sref="visualizations.visu"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Statistics (charts)</a></li>
      <li ui-sref-active="active"><a ui-sref="visualizations.visu2"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Statistics (graphs)</a></li>
    </ul>
  </li>
  <li class="dropdown" ui-sref-active="{'active': 'comparisons.**'}">
  <a class="dropdown-toggle" data-toggle="dropdown" href="" id="statistics"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Comparisons<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ui-sref-active="active"><a ui-sref="comparison.cards"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Comparison (Grid)</a></li>

      <li ui-sref-active="active"><a ui-sref="comparison2.cards2"><span class="glyphicon glyphicon glyphicon-record" aria-hidden="true"></span> Comparison (charts)</a></li>

      <li ui-sref-active="active"><a ui-sref="comparison2.cards3"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Comparison (graphs)</a></li>
    </ul>
</li>
</ul>
