<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 vcenter push-xs-2">
        <!-- <img src="images/SKB.svg" class="norssi-logo center-block img img-responsive" /> -->
    </div><!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK
 --><div class="col-xs-9 col-md-9 col-lg-9 vcenter push-xs-9 toptext">
      <div ng-include="'views/description.partial.html'"></div>
    </div>

  <!--  <div class="col-md-12 pull-md-12 col-lg-12">
      <br/>BIRTH YEAR
          <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options">
        </rzslider>
    </div> -->

    <div class="col-md-12 pull-md-12 col-lg-12">
      <div ng-include="'views/facets.partial.html'"></div>
    </div>

    <div class="col-md-12 pull-md-12 col-lg-12">
    <div class="sort-custom">
          <b class="subject">Sort by</b>
          <span class="sort">
            <a href="" ng-click="vm.sortBy('?birthDate')">Birthdate</a>
            <span ng-class="vm.getSortClass('?birthDate', true)" class="glyphicon" aria-hidden="true"></span>&emsp;&emsp;&emsp;

            <a href="" ng-click="vm.sortBy('?familyName')">Family Name</a>
            <span ng-class="vm.getSortClass('?familyName')" class="glyphicon" aria-hidden="true"></span>&emsp;&emsp;&emsp;

            <a href="" ng-click="vm.sortBy('?givenName')">First Name</a>
            <span ng-class="vm.getSortClass('?givenName')" class="glyphicon" aria-hidden="true"></span>
          </span>
    </div>
          <div ng-include="'views/table.partial.html'"></div>
        </div>
      </div>
    </div>
