<img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
<!--<div class="col-md-2 col-sm-2 col-xs-2 vcenter push-xs-2">
      <img src="images/SKB.svg" class="norssi-logo center-block img img-responsive" />
    </div><!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK
 -->

<div id="chart_occupation" style="width: 100%; height: 500px;"></div>
<div id="chart_committee" style="width: 100%; height: 500px;"></div>
<div id="chart_place" style="width: 100%; height: 500px;"></div>
<p style="font-family: Arial; font-size:15px; color:black; "><strong>Correlation between the Chamber and Political Party</strong></p>
<div id="chart_sankey" style="width: 100%; height: 700px;"></div>
