<div class="container-fluid">
  <div class="row">
    <!--<div class="col-md-2 col-sm-2 col-xs-2 vcenter push-xs-2">
      <img src="images/SKB.svg" class="norssi-logo center-block img img-responsive" />
    </div><!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK
 -->
        <img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
        <div id="chart_ResultsRecord"></div>
        <div id="chart_ResultsServe"></div>
        <div id="chart_ResultsSpouse"></div>
    </div>
  </div>
